<div id="myModalAbout" class="reveal-modal small" data-reveal>
  <div class="about">
    <div class="aboutHeader">
      <img alt="Logo" class="logo" src="/assets/logo.png">
    </div>
    <br>
    <p>Leave your mark on the world with Find Me! Log in to check out notes in your current location. Take a photo, leave a new note, and give people something to discover!</p>
    <br>
    <img src="http://i.imgur.com/mr6V0ri.png?1"></img>

  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
