<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" target="_top"><%= image_tag "logo.png", class: "logo" %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><img src="/assets/dropdown.png"></a></li>
  </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if session[:current_user_id] == nil %>
          <li><a href="#" class="nav-button" id="about" data-reveal-id="myModalAbout">About</a></li>
          <li><a href="#" class="nav-button" id="signUp" data-reveal-id="myModalUp">Sign Up</a></li>
          <li><a href="#" class="nav-button" id="signIn" data-reveal-id="myModalIn">Sign In</a></li>
        <% else %>
          <li><a href="#" class="nav-button" id="about" data-reveal-id="myModalAbout">About</a></li>
          <li><%= link_to :SignOut, sessions_path, :method => :delete, class: "nav-button" %></li>
          <li><%= link_to :Profile, user_path(current_user.id), :method => :get, class: "nav-button", id: "viewProfile"%></li>
        <% end %>
      </ul>
      </section>
    </ul>

</nav>

