<div class="row">
  <dl class="sub-nav">
    <% if session[:current_user_id] != nil %>
    <div class="large-6 columns">
      <a href="#" class="sub-nav-button button expand" id="leaveANote"><img src="http://i.imgur.com/SjBQb3X.png"></img> Leave a note</a>
    </div>
    <% end %>
    <div class="large-6 columns">
      <a href="#" class="sub-nav-button button expand" id="seeAllNotes"><img src="http://i.imgur.com/3bYi7Po.png"></img> See notes!</a>
    </div>
  </dl>
</div>

